.bg-plante {
    background-color: #58af94 !important;
}

.bg-feu {
    background-color: #ea7571 !important;
}

.bg-eau {
    background-color: #75aef0 !important;
}

.bg-normal {
    background-color: #bfbfbf !important;
}

.bg-électrik {
    background-color: #f7cd5c !important;
}

.bg-insecte {
    background-color: #a7bd1c !important;
}

.bg-roche {
    background-color: #a9756f !important;
}

.bg-poison {
    background-color: #8f6ba2 !important;
}

.bg-fée {
    background-color: #dda5c9 !important;
}

.bg-sol {
    background-color: #c7a9a4 !important;
}

.bg-spectre {
    background-color: #65546d !important;
}

.bg-psy {
    background-color: #df608b !important;
}

.bg-acier {
    background-color: #6f707f !important;
}

.bg-combat {
    background-color: #dc6661 !important;
}

.bg-glace {
    background-color: #9adadd !important;
}

.bg-tenebres {
    background-color: #494949 !important;
}

.bg-dragon {
    background-color: #4b6edb !important;
}

.bg-insecte-vol {
    background: linear-gradient(147deg, #a7bd1c 40%, #a6b8f3 60%);
}

.bg-normal-vol {
    background: linear-gradient(147deg, #bfbfbf 40%, #a6b8f3 60%);
}

.bg-insect-poison {
    background: linear-gradient(147deg, #a7bd1c 40%, #8f6ba2 60%);
}

.bg-roche-sol {
    background: linear-gradient(147deg, #a9756f 40%, #c7a9a4 60%);
}

.bg-poison-vol {
    background: linear-gradient(147deg, #8f6ba2 40%, #a6b8f3 60%);
}

.bg-normal-fée {
    background: linear-gradient(147deg, #bfbfbf 40%, #dda5c9 60%);
}

.bg-fée-vol {
    background: linear-gradient(147deg, #dda5c9 40%, #a6b8f3 60%);
}

.bg-eau-sol {
    background: linear-gradient(147deg, #75aef0 40%, #c7a9a4 60%);
}

.bg-spectre-poison {
    background: linear-gradient(147deg, #65546d 40%, #8f6ba2 60%);
}

.bg-acier-sol {
    background: linear-gradient(147deg, #6f707f 40%, #c7a9a4 60%);
}

.bg-plante-poison {
    background: linear-gradient(147deg, #58af94 40%, #8f6ba2 60%);
}

.bg-plante-vol {
    background: linear-gradient(147deg, #58af94 40%, #a6b8f3 60%);
}

.bg-insecte-plante {
    background: linear-gradient(147deg, #a7bd1c 40%, #58af94 60%);
}

.bg-eau-combat {
    background: linear-gradient(147deg, #75aef0 40%, #dc6661 60%);
}

.bg-eau-vol {
    background: linear-gradient(147deg, #75aef0 40%, #a6b8f3 60%);
}

.bg-eau-psy {
    background: linear-gradient(147deg, #75aef0 40%, #df608b 60%);
}

.bg-insecte-acier {
    background: linear-gradient(147deg, #a7bd1c 40%, #6f707f 60%);
}

.bg-poison-sol {
    background: linear-gradient(147deg, #8f6ba2 40%, #c7a9a4 60%);
}

.bg-plante-psy {
    background: linear-gradient(147deg, #58af94 40%, #df608b 60%);
}

.bg-insecte-combat {
    background: linear-gradient(147deg, #a7bd1c 40%, #dc6661 60%);
}

.bg-electrik-acier {
    background: linear-gradient(147deg, #f7cd5c 40%, #6f707f 60%);
}

.bg-eau-fée {
    background: linear-gradient(147deg, #75aef0 40%, #dda5c9 60%);
}

.bg-normal-psy {
    background: linear-gradient(147deg, #bfbfbf 40%, #df608b 60%);
}

.bg-glace-psy {
    background: linear-gradient(147deg, #95c8f9 40%, #df608b 60%);
}

.bg-psy-fée {
    background: linear-gradient(147deg, #df608b 40%, #dda5c9 60%);
}

.bg-psy-vol {
    background: linear-gradient(147deg, #df608b 40%, #a6b8f3 60%);
}

.bg-eau-poison {
    background: linear-gradient(147deg, #75aef0 40%, #8f6ba2 60%);
}

.bg-insecte-roche {
    background: linear-gradient(147deg, #a7bd1c 40%, #a9756f 60%);
}

.bg-eau-glace {
    background: linear-gradient(147deg, #75aef0 40%, #95c8f9 60%);
}

.bg-eau-electrik {
    background: linear-gradient(147deg, #75aef0 40%, #f7cd5c 60%);
}

.bg-eau-roche {
    background: linear-gradient(147deg, #75aef0 40%, #a9756f 60%);
}

.bg-eau-dragon {
    background: linear-gradient(147deg, #75aef0 40%, #4b6edb 60%);
}

.bg-sol-vol {
    background: linear-gradient(147deg, #c7a9a4 40%, #a6b8f3 60%);
}

.bg-glace-vol {
    background: linear-gradient(147deg, #95c8f9 40%, #a6b8f3 60%);
}

.bg-glace-sol {
    background: linear-gradient(147deg, #95c8f9 40%, #c7a9a4 60%);
}

.bg-acier-vol {
    background: linear-gradient(147deg, #6f707f 40%, #a6b8f3 60%);
}

.bg-sol-roche {
    background: linear-gradient(147deg, #c7a9a4 40%, #a9756f 60%);
}

.bg-tenebres-vol {
    background: linear-gradient(147deg, #494949 40%, #a6b8f3 60%);
}

.bg-tenebres-feu {
    background: linear-gradient(147deg, #494949 40%, #ea7571 60%);
}

.bg-tenebres-glace {
    background: linear-gradient(147deg, #494949 40%, #95c8f9 60%);
}

.bg-feu-roche {
    background: linear-gradient(147deg, #ea7571 40%, #a9756f 60%);
}

.bg-roche-eau {
    background: linear-gradient(147deg, #a9756f 40%, #75aef0 60%);
}

.bg-roche-vol {
    background: linear-gradient(147deg, #a9756f 40%, #a6b8f3 60%);
}

.bg-feu-vol {
    background: linear-gradient(147deg, #ea7571 40%, #a6b8f3 60%);
}

.bg-electrik-vol {
    background: linear-gradient(147deg, #f7cd5c 40%, #a6b8f3 60%);
}

.bg-dragon-vol {
    background: linear-gradient(147deg, #4b6edb 40%, #a6b8f3 60%);
}

.bg-roche-tenebre {
    background: linear-gradient(147deg, #a9756f 40%, #494949 60%);
}

.bg-psy-plante {
    background: linear-gradient(147deg, #df608b 40%, #58af94 60%);
}

@media (min-width: 640px) {
    .title-1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

.title-1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.zoom {
    transition: transform .2s;
}

.pokemonCard:hover .zoom {
    transform: scale(1.3);
}

.pokemonCard:hover .pokeballSvg {
    animation: spin 5s linear infinite;
}

.pokemonCard:hover .text-dark {
    color: white !important
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.modal-content {
    background-image: url('../../public/images/bg.jpg') !important;
}

.modal-body {
    background-color: #ffffffc1 !important;
}

.modal-content {
    width: 85vw !important;
}

.nav-tabs {
    padding-top: 1rem;
}

.bodyInfo {
    padding: 3rem;
}

.HeightWeight {
    margin: 3rem;
}

.imgEvo {
    padding-right: 3rem;
    padding-left: 3rem;
}

.menu {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header {
    margin-top: 3rem !important;
}

.arrow {
    margin-top: 1rem !important;
}



@media (max-width: 992px) {
    .choice {
        flex-direction: column;
    }
    .icon {
        width: 40px !important;
    }

    .arrow {
        margin-top: 0rem !important;
        width: 3em !important;
    }

    .header {
        margin-top: 1rem !important;
    }

    .menu {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .imgEvo {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .imgModal {
        display: none !important;
        background-color: red;
    }

    .bodyInfo {
        width: 90vw !important;
        padding-top: 3rem !important;
        padding: 1rem !important;
    }

    .bodyImg {
        margin-bottom: -1.5rem !important;
    }

    .nav-tabs {
        padding-top: 3rem !important;
        flex-direction: column;
        align-items: center;
    }

    .HeightWeight {
        margin: 0 !important;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }


}

.nextPkmn:hover {
    filter: contrast(0%) brightness(0.3) !important;
}

.nav-tabs {
    border: none !important;
}

.nav-link {
    border: none !important;
    display: flex !important;
    align-items: center;
    color: rgba(116, 116, 116, 0.5) !important;
}

a.nav-link.active {
    color: #212529 !important;
}

.svgId {
    height: 2em;
    padding-right: 0.5em;
}

.ability {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}